<p style="text-align: center;">&nbsp;</p>
<p><img style="width: 363px; height: 477px; display: block; margin-left: auto; margin-right: auto;" src="https://i.pinimg.com/originals/38/2e/7a/382e7abb722b26da40ccb74bc29531dc.jpg" /></p>
<h1 style="text-align: center;">Welcome to <%= title %></h1>
<h1 style="text-align: center;">
    <span style="color: #333333;">
        <a style="color: #333333;" href="/foods">Are you hungry?</a> 
    </span>
</h1>