<!DOCTYPE html>
<html>
  <head>
    <title>Fridger</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/foods/">Back</a></h3>
      <h1>Meat</h1>
      <% if(foods.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>Food Name</th>
              <th>Buyer</th>
            </tr>
          </thead>
          <tbody>
  
            <% for(var i=0; i<foods.length;i++) { %>
              <tr>
                <td><a href="/foods/show/<%= foods[i]._id%>"><%= foods[i].name%></a></td>
                <td><%= foods[i].buyer%></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
          <div>No food left :(</div>
        <% } %>
      </div>
    </body>
  </html>